@import url('../fonts/local.css');
@import url('./reset.css');

:root {
    /* colors */
    --color-black: #0e0e0e;
    --color-white: #ffffff;
    --color-red: #ff444f;
    /* font-sizes */
    --text-size: 16px;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

h1, h2, p {
    line-height: 24px;
}

.wrapper {
    width: 467px;
    height: 152px;
}

.signature {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
}

.logo {
    border-radius: 50%;
    background: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin-right: 16px;
}

.description {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-size: var(--text-size);
}

h1 {
    font-weight: bold;
}

hr {
    border: none;
    width: 100%;
    height: 4px;
    margin: 8px 0;
    background: var(--color-red);
}

.detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
}

strong {
    color: var(--color-red);
    margin-right: 4px;
}
