<br><table border="0" cellpadding="0" cellspacing="0" style="border: none; border-collapse: collapse; empty-cells: show; max-width: 100%;" width="100%">
    <tbody>
        <tr>
            <td align="center" bgcolor="#eeeeee" style="padding: 20px 0px 0px; min-width: 5px; user-select: text; border: unset;">
                <table border="0" cellpadding="0" cellspacing="0" style="background-color: rgb(255, 255, 255); max-width: 600px; border: none; border-collapse: collapse; empty-cells: show;" width="100%">
                    <tbody>
                        <tr>
                            <td id="slash-td">
                                <a href="https://www.deriv.com" style="user-select: auto;">
                                    <img src="https://static.deriv.com/email/images/header-2024/derivpartner.png" alt="deriv.com">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 10px 30px 20px; background-color: rgb(255, 255, 255); min-width: 5px; user-select: text; border: unset;">
                                <p style="padding-top: 15px;font-family: 'Ubuntu', 'IBM Plex Sans', Arial, sans-serif;font-size: 26px; font-weight: 700;">Welcome to the DerivPartner Community!</p>
                            </td>
                        </tr>
                    <tr>
                        <td align="left" style="padding: 20px 30px 0; background-color: rgb(255, 255, 255); min-width: 5px; user-select: text; border: unset;">
                            <p dir="ltr" style="padding-top: 10px;font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px;line-height: 1.5;">Hi {{&nbsp;lead.display_name&nbsp;}},</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 10px 30px; background-color:  rgb(255, 255, 255); min-width: 5px; user-select: text; border: unset;">
                            <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px;line-height: 1.5;">You are now part of our global community of over 80,000 partners from around 190 countries! We are happy to have you on board.</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 10px 30px; background-color:  rgb(255, 255, 255); min-width: 5px; user-select: text; border: unset;">
                            <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px;line-height: 1.5;">To get started, here are your Deriv Affiliate account details so that you can log in to your Affiliate dashboard:</p>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" style="padding: 10px 30px; background-color:  rgb(255, 255, 255); min-width: 5px; user-select: text; border: unset;">
                            <div align="center" bgcolor="#eeeeee" style='padding: 20px;background-color: #f2f3f4;border-radius:20px;'>
                                <p  style="padding: 10px 20px 20px;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px;background-color:#f2f3f4;line-height: 1.5;">Click here to access your Deriv Affiliate Dashboard Or copy and paste this link on your browser</p>
                                <a href="https://login.deriv.com/payment-method.php" style="text-decoration: none;"><p  style="padding: 10px 20px;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px; background-color:#fff;line-height: 1.5;color: #ff4444 !important;">[Dashboard link]</p></a>
                                <p  style="padding: 30px 20px 10px;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px; background-color:#f2f3f4;line-height: 1.5;">Your username</p>
                                <a href="https://login.deriv.com/payment-method.php" style="text-decoration: none;"><p  style="padding: 10px 20px 20px;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px; background-color:#fff;line-height: 1.5;color: #ff4444 !important;">[Dashboard link]</p></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 10px 30px; background-color:  rgb(255, 255, 255); min-width: 5px; user-select: text; border: unset;">
                            <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px;line-height: 1.5;">Share the below Affiliate link with your clients. Make sure they sign up on Deriv using your link, so that we are able to track them under your profile in order for you to receive your commissions.</p>
                        </td>
                    </tr>
                        <tr>
                            <td style="padding: 20px 30px 40px; min-width: 5px; user-select: text; border: unset;" colspan="1" rowspan="1" align="center">
                                <div>
                                    <a style="background: rgb(255, 68, 79); padding: 10px 16px; border: 0px; border-radius: 18px; font-family: &quot;IBM Plex Sans&quot;, Arial, sans-serif; font-size: 15px; font-weight: bold; text-decoration: none; text-align: center; line-height: 20px; display: inline-block; overflow: visible; color: rgb(255, 255, 255) !important; user-select: auto;" href="https://login.deriv.com/payment-method.php" target="_blank" rel="noopener noreferrer nofollow"><strong>Affiliate link</strong></a>
                                </div>
                            </td>
                        </tr>



                        <tr>
                            <td align="center" style="padding: 20px 30px; background-color: #F9F9FA; min-width: 5px; user-select: text; border: unset;">
                                <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 27px;line-height: 1.5;font-weight: 700;">Track and grow</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 10px 70px 0; background-color: #F9F9FA;; min-width: 5px; user-select: text; border: unset;">
                                <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 16px;font-weight: 700; line-height: 1.5;color: #ff4444;">Monitor your progress at any time</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 5px 70px 20px; background-color: #F9F9FA;; min-width: 5px; user-select: text; border: unset;">
                                <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px;line-height: 1.5;">The Affiliate dashboard allows you to monitor your client signups, earnings, and performance- all in one place.</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 10px 70px 0; background-color: #F9F9FA;; min-width: 5px; user-select: text; border: unset;">
                                <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 16px;font-weight: 700; line-height: 1.5;color: #ff4444;">Grow your network at no cost</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 5px 70px 20px; background-color: #F9F9FA;; min-width: 5px; user-select: text; border: unset;">
                                <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px;line-height: 1.5;">Increase client signups using proven and free marketing and educational material provided by Deriv. Visit the Marketing tab on your dashboard.</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 10px 70px 0; background-color: #F9F9FA;; min-width: 5px; user-select: text; border: unset;">
                                <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 16px;font-weight: 700; line-height: 1.5;color: #ff4444;">Need more information?</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 5px 70px 20px; background-color: #F9F9FA;; min-width: 5px; user-select: text; border: unset;">
                                <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px;line-height: 1.5;">Your Country Manager [first name last name], is here to help!Contact him on (phone) and get the supportyou need.</p>
                            </td>
                        </tr>

                        <tr>
                            <td align="left" style="padding: 30px 30px 10px; background-color:  rgb(255, 255, 255); min-width: 5px; user-select: text; border: unset;">
                                <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px;line-height: 1.5;">Please select your preferred payment method to receive your commissions. Your Affiliate commissions are credited to your selected payment method/account on the 15th of every month.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px 30px; min-width: 5px; user-select: text; border: unset;" colspan="1" rowspan="1" align="center">
                                <div>
                                    <a style="background: rgb(255, 68, 79); padding: 10px 16px; border: 0px; border-radius: 18px; font-family: &quot;IBM Plex Sans&quot;, Arial, sans-serif; font-size: 15px; font-weight: bold; text-decoration: none; text-align: center; line-height: 20px; display: inline-block; overflow: visible; color: rgb(255, 255, 255) !important; user-select: auto;" href="https://login.deriv.com/payment-method.php" target="_blank" rel="noopener noreferrer nofollow"><strong>Choose payment method</strong></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 10px 30px; background-color:  rgb(255, 255, 255); min-width: 5px; user-select: text; border: unset;">
                                <p dir="ltr" style="padding: 0;margin:0; font-family: 'IBM Plex Sans', Arial, sans-serif;font-size: 15px;line-height: 1.5;">Thank you for choosing Deriv.</p>
                            </td>
                        </tr>
                    <!-- SOCIAL -->
                    <tr>
                        <td align="center" style="padding: 30px 20px 10px; color: #ffffff; font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;" class="darkmodeblack">
                            <p style="margin: 0;">
                                <a href="https://www.facebook.com/derivdotcom" style="text-decoration: none;">
                                    <img src="https://static.deriv.com/email/images/icons/facebook-gray.png" height="20" width="20" alt="Deriv.com on Facebook" title="Deriv.com on Facebook" />
                                </a>&nbsp;&nbsp;&nbsp;
                                <a href="https://www.instagram.com/deriv_official/" style="text-decoration: none;">
                                    <img src="https://static.deriv.com/email/images/icons/instagram-gray.png" height="20" width="20" alt="Deriv.com on Instagram" title="Deriv.com on Instagram" />
                                </a>&nbsp;&nbsp;&nbsp;
                                <a href="https://twitter.com/derivdotcom" style="text-decoration: none;">
                                    <img src="https://static.deriv.com/email/images/icons/x-gray.png" height="20" width="20" alt="Deriv.com on Twitter" title="eu.deriv.com on Twitter" />
                                </a>&nbsp;&nbsp;&nbsp;
                                <a href="https://www.youtube.com/@deriv" style="text-decoration: none;">
                                    <img src="https://static.deriv.com/email/images/icons/youtube-gray.png" height="20" width="20" alt="Deriv.com on Youtube" title="Deriv.com on Youtube" />
                                </a>&nbsp;&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/company/derivdotcom/" style="text-decoration: none;">
                                    <img src="https://static.deriv.com/email/images/icons/linkedin-gray.png" height="20" width="20" alt="Deriv.com on Linkedin" title="Deriv.com on Linkedin" />
                                </a>&nbsp;&nbsp;&nbsp;
                                <a href="https://t.me/Derivchannelofficial" style="text-decoration: none;">
                                    <img src="https://static.deriv.com/email/images/icons/telegram-gray.png" height="20" width="20" alt="Deriv.com on Telegram" title="Deriv.com on Telegram" />
                                </a>&nbsp;&nbsp;&nbsp;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#ffffff" style='padding: 0px 0px 25px; color: rgb(100, 100, 100); font-family: "IBM Plex Sans", Arial, sans-serif; font-size: 115px; font-weight: 500; line-height: 16px; text-size-adjust: 100%; min-width: 5px; user-select: text; border: unset;'>
                            <p style="font-family: 'IBM Plex Sans', Arial, sans-serif; color: #646464; font-size: 15px; font-weight: 500; line-height: 16px; margin: 0px 0px 5px;"><br></p>
                            <p style="font-family: 'IBM Plex Sans', Arial, sans-serif; color: #646464; font-size: 12px; font-weight: 500; line-height: 16px; margin: 5px 0px 0px;">
                                <a href="https://www.deriv.com/help-centre" style="color: rgb(255, 68, 79) !important; user-select: auto;">Help centre</a>&nbsp; &nbsp;| &nbsp; <a href="https://www.deriv.com/terms-and-conditions/" style="color: rgb(255, 68, 79) !important; user-select: auto;">Terms and conditions</a>&nbsp; &nbsp;| &nbsp; <a href="https://deriv.com/tnc/security-and-privacy.pdf" style="color: rgb(255, 68, 79) !important; user-select: auto;">Security and privacy</a></p>
                            </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 0px 30px 30px; min-width: 5px; user-select: text;">
                            <a href="https://www.deriv.com" style="user-select: auto;">
                                <img src="https://static.deriv.com/logos/deriv-gray-2023.png" width="80" alt="Deriv.com" style="cursor: pointer; padding: 0px 1px; position: relative; max-width: 100%;">
                            </a>
                        </td>
                    </tr>
                    <br>
                    <br>
                    </tbody>
                </table>
            <p style="margin: 0;"><br></p></td></tr></tbody></table>