            <!-- FOOTER -->
            <tr>
                <td align="center" class="mb-no-padding">
                    <!--[if (gte mso 9)|(IE)]>
                        <table id="ol-footer-table" align="center">
                    <![endif]-->
                    <table id="footer-table" class="dark-black">
                        <!-- SOCIAL -->
                        <tr>
                            <td id="footer-social-td" align="center" class="dark-black">
                                <a href="https://twitter.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/twitter.png" alt="Twitter Logo" title="Deriv.com op Twitter"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.facebook.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/facebook.png" alt="Facebook Logo" title="Deriv.com op Facebook"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.instagram.com/deriv_official/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/instagram.png" alt="Instagram Logo" title="Deriv.com op Instagram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://t.me/derivdotcomofficial" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/telegram.png" alt="Telegram Logo" title="Deriv.com op Telegram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.youtube.com/c/Derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/youtube.png" alt="Youtube Logo" title="Deriv.com op Youtube"/>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td id="footer-links-td" align="center" class="dark-black">
                                <p><a href="https://www.deriv.com/help-centre">Hulpcentrum</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://www.deriv.com/terms-and-conditions/">Voorwaarden en condities</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://deriv.com/tnc/security-and-privacy.pdf">Veiligheid en privacy</a></p>
                                <p id="unsubscribe-p" class="dark-gray dark-subtext">Wilt u deze e-mails niet meer ontvangen? <a href="https://app.deriv.com/account/personal-details">Afmelden</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td id="f-logo" align="center" class="dark-black">
                                <a href="https://www.deriv.com">
                                    <img src="https://static.deriv.com/logos/deriv-gray.png" alt="Deriv logo" title="Deriv.com">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                        </td></tr></table>
                    <![endif]-->
                </td>
            </tr>