            <!-- FOOTER -->
            <tr>
                <td align="center" class="mb-no-padding">
                    <!--[if (gte mso 9)|(IE)]>
                        <table id="ol-footer-table" align="center">
                    <![endif]-->
                    <table id="footer-table" class="dark-black">
                        <!-- SOCIAL -->
                        <tr>
                            <td id="footer-social-td" align="center" class="dark-black">
                                <a href="https://twitter.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/twitter.png" alt="โลโก้ Twitter" title="Deriv.com ใน Twitter"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.facebook.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/facebook.png" alt="โลโก้ Facebook" title="Deriv.com ใน Facebook"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.instagram.com/deriv_official/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/instagram.png" alt="โลโก้ Instagram" title="Deriv.com ใน Instagram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://t.me/derivdotcomofficial" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/telegram.png" alt="โลโก้ Telegram" title="Deriv.com ใน Telegram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.youtube.com/c/Derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/youtube.png" alt="โลโก้ Youtube" title="Deriv.com ใน Youtube"/>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td id="footer-links-td" align="center" class="dark-black">
                                <p><a href="https://deriv.com/th/help-centre/">ศูนย์ช่วยเหลือ</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://deriv.com/th/terms-and-conditions">ข้อตกลงและเงื่อนไข</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://deriv.com/tnc/security-and-privacy.pdf">ความปลอดภัยและความเป็นส่วนตัว</a></p>
                                <p id="unsubscribe-p" class="dark-gray dark-subtext">ไม่ต้องการรับอีเมล์เหล่านี้อีกต่อไป? <a href="https://app.deriv.com/account/personal-details">ยกเลิกการสมัคร</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td id="f-logo" align="center" class="dark-black">
                                <a href="https://www.deriv.com">
                                    <img src="https://static.deriv.com/logos/deriv-gray.png" alt="โลโก้ Deriv" title="Deriv.com">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                        </td></tr></table>
                    <![endif]-->
                </td>
            </tr>