            <!-- FOOTER -->
            <tr>
                <td align="center" class="mb-no-padding">
                    <!--[if (gte mso 9)|(IE)]>
                        <table id="ol-footer-table" align="center">
                    <![endif]-->
                    <table id="footer-table" class="dark-black">
                        <!-- SOCIAL -->
                        <tr>
                            <td id="footer-social-td" align="center" class="dark-black">
                                <a href="https://twitter.com/DerivPortugues" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/twitter.png" alt="Logomarca do Twitter" title="Deriv.com no Twitter"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.facebook.com/derivportugues" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/facebook.png" alt="Logomarca do Facebook" title="Deriv.com no Facebook"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.instagram.com/deriv_portugues/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/instagram.png" alt="Logomarca do Instagram" title="Deriv.com no Instagram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://t.me/derivdotcomofficial" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/telegram.png" alt="Logomarca do Telegram" title="Deriv.com no Telegram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.youtube.com/c/Derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/youtube.png" alt="Logomarca do Youtube" title="Deriv.com no Youtube"/>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td id="footer-links-td" align="center" class="dark-black">
                                <p><a href="https://deriv.com/pt/help-centre/">Centro de ajuda</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://deriv.com/pt/terms-and-conditions">Termos e Condições</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://deriv.com/tnc/security-and-privacy.pdf">Segurança & privacidade</a></p>
                                <p id="unsubscribe-p" class="dark-gray dark-subtext">Não quer mais receber esses emails? <a href="https://app.deriv.com/account/personal-details">Cancelar inscrição</a>.</p>
                            </td>
                        </tr>
                        <tr>
                            <td id="f-logo" align="center" class="dark-black">
                                <a href="https://www.deriv.com/pt">
                                    <img src="https://static.deriv.com/logos/deriv-gray.png" alt="Logomarca da Deriv" title="Deriv.com">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                        </td></tr></table>
                    <![endif]-->
                </td>
            </tr>