            <!-- FOOTER -->
            <tr>
                <td align="center" class="mb-no-padding">
                    <!--[if (gte mso 9)|(IE)]>
                        <table id="ol-footer-table" align="center">
                    <![endif]-->
                    <table id="footer-table" class="dark-black">
                        <!-- SOCIAL -->
                        <tr>
                            <td id="footer-social-td" align="center" class="dark-black">
                                <a href="https://twitter.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/twitter.png" alt="Логотип Twitter" title="Deriv.com в Twitter"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.facebook.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/facebook.png" alt="Логотип Facebook" title="Deriv.com в Facebook"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.instagram.com/deriv_official/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/instagram.png" alt="Логотип Instagram" title="Deriv.com в Instagram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://t.me/derivdotcomofficial" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/telegram.png" alt="Логотип Telegram" title="Deriv.com в Telegram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.youtube.com/c/Derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/youtube.png" alt="Логотип Youtube" title="Deriv.com в Youtube"/>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td id="footer-links-td" align="center" class="dark-black">
                                <p><a href="https://www.deriv.com/help-centre">Поддержка</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://www.deriv.com/terms-and-conditions/">Условия и положения</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://deriv.com/tnc/security-and-privacy.pdf">Безопасность и конфиденциальность</a></p>
                                <p id="unsubscribe-p" class="dark-gray dark-subtext">Больше не хотите получать эти письма? <a href="https://app.deriv.com/account/personal-details">Отписаться</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td id="f-logo" align="center" class="dark-black">
                                <a href="https://www.deriv.com">
                                    <img src="https://static.deriv.com/logos/deriv-gray.png" alt="Логотип Deriv" title="Deriv.com">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                        </td></tr></table>
                    <![endif]-->
                </td>
            </tr>