                            <tr>
                                <td class="paragraph-td" align="center" style="padding: 20px 30px 20px 30px;" class="dark-black">
                                    <p class="dark-subtext" style="font-family: 'Ubuntu', Arial, sans-serif;  font-size: 16px; font-weight: 400">Si tienes alguna consulta, contáctanos: <br/>
                                        <a href="https://eu.deriv.com/?is_livechat_open=true" target="_blank">Live chat</a> | <a href="https://api.whatsapp.com/send/?phone=35699578341&text&type=phone_number&app_absent=0" target="_blank">WhatsApp</a></p>
                                </td>
                            </tr>
                        </table>
                        <!--[if (gte mso 9)|(IE)]></td></tr></table>
                        <![endif]-->
                    </td>
                </tr>
                <!-- End Email body--><!-- FOOTER -->
                <tr>
                    <td align="center" class="mb-no-padding"><!--[if (gte mso 9)|(IE)]>
                                <table id="ol-footer-table" align="center"><tr><td>
                                    <center>
                                        <pre><a href="https://www.facebook.com/DerivEU/" target="_blank"><img src="https://static.deriv.com/email/images/icons/facebook-gray.png" height="20" width="20" alt="Deriv.com on Facebook" title="Deriv.com on Facebook"/></a>    <a href="https://instagram.com/deriv_eu/" target="_blank"><img src="https://static.deriv.com/email/images/icons/instagram-gray.png" height="20" width="20" alt="Deriv.com on Instagram" title="Deriv.com on Instagram"/></a>    <a href="https://twitter.com/deriv_eu/" target="_blank"><img src="https://static.deriv.com/email/images/icons/x-gray.png" height="20" width="20" alt="Deriv.com on Twitter" title="Deriv.com on Twitter"/></a></a></pre>
                                    </center>
                            <![endif]--><!--[if !gte mso 9]><!-- -->
                    <table class="dark-black" id="footer-table"><!-- Insert Trustpilot widget here --><!-- SOCIAL -->
                        <tbody>
                            <tr>
                                <td align="center" class="dark-black" id="footer-social-td">
                                <pre><a href="https://www.facebook.com/DerivEU/" target="_blank"><img alt="Deriv.com on Facebook" src="https://static.deriv.com/email/images/icons/facebook-gray.png" style="height: 20px;" title="Deriv.com on Facebook" /></a>    <a href="https://instagram.com/deriv_eu/" target="_blank"><img alt="Deriv.com on Instagram" src="https://static.deriv.com/email/images/icons/instagram-gray.png" style="height: 20px;" title="Deriv.com on Instagram" /></a>    <a href="https://twitter.com/deriv_eu/" target="_blank"><img alt="Deriv.com on Twitter" src="https://static.deriv.com/email/images/icons/x-gray.png" style="height: 20px;" title="Deriv.com on Twitter" /></a></pre>
                                </td>
                            </tr>
                            <!--[endif]-->
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 10px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">Este correo electrónico es un correo de marketing destinado a clientes minoristas y profesionales y ha sido emitido por Deriv Investments (Europe) Limited con domicilio social: W Business Centre, Level 3, Triq Dun Karm, Birkirkara, BKR 9033, Malta.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">Deriv Investments (Europe) Limited está autorizada en Malta y regulada por la Autoridad de Servicios Financieros de Malta en virtud de la Ley de Servicios de Inversión, para prestar servicios de inversión en la Unión Europea.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">Deriv Investments (Europe) Limited está autorizada a operar por cuenta propia y es a la vez fabricante y distribuidor de sus productos.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">Los productos ofrecidos por Deriv Investments (Europe) Limited, incluidos los CFD, se clasifican como "productos complejos" y pueden no ser adecuados para clientes minoristas. Los CFD son instrumentos complejos y conllevan un alto riesgo de perder dinero rápidamente debido al apalancamiento. El 73% de las cuentas de inversores minoristas pierden dinero al negociar CFD con este proveedor. Debe considerar si entiende cómo funcionan los CFD y si puede permitirse asumir el alto riesgo de perder su dinero.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">Los productos pueden verse afectados por las variaciones de los tipos de cambio; si invierte en este producto, puede perder parte o la totalidad del dinero invertido; el valor de su inversión puede tanto bajar como subir.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">Deriv Investments (Europe) Limited no ofrece asesoramiento en materia de inversión.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 30px;" class="dark-black">
                                    <p class="dark-subtext">Nunca compartiremos nuestras listas de correo electrónico y otros datos con terceros. Para saber más sobre cómo protegemos su información personal y financiera, lea nuestra política de seguridad y privacidad.</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" class="dark-black" id="footer-links-td">
                                <p><a href="https://eu.deriv.com/es/help-centre">Centro de ayuda</a>   <span class="dark-gray">|</span>   <a href="https://eu.deriv.com/es/terms-and-conditions/">Términos y condiciones</a>   <span class="dark-black">|</span>   <a href="https://deriv.com/tnc/security-and-privacy.pdf">Seguridad y privacidad</a></p>
                                <p id="unsubscribe-p" class="dark-black dark-subtext">¿Ya no quieres recibir estos correos? <a href="https://app.deriv.com/account/personal-details">Darte de baja</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" class="dark-black" id="f-logo"><a href="https://eu.deriv.com/es"><!--[if (gte mso 9)|(IE)]>
                                                <img src="https://static.deriv.com/logos/deriv-gray-2023.png" alt="Deriv.com" height="20" title="Deriv.com">
                                            <![endif]--> <!--[if !gte mso 9]><!-- --> <img alt="Deriv.com" src="https://static.deriv.com/logos/deriv-gray-2023.png" style="height: 20px;" title="Deriv.com" /> <!--[endif]--> </a></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]> 
                                </td></tr></table>
                            <![endif]--></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
