                            <tr>
                                <td class="paragraph-td" align="center" style="padding: 20px 30px 20px 30px;" class="dark-black">
                                    <p class="dark-subtext">If you have any questions, contact us via:<br/>
                                        <a href="https://eu.deriv.com/?is_livechat_open=true" target="_blank">Live chat</a> | <a href="https://api.whatsapp.com/send/?phone=35699578341&text&type=phone_number&app_absent=0" target="_blank">WhatsApp</a></p>
                                </td>
                            </tr>
                        </table>
                        <!--[if (gte mso 9)|(IE)]></td></tr></table>
                        <![endif]-->
                    </td>
                </tr>
                <!-- End Email body--><!-- FOOTER -->
                <tr>
                    <td align="center" class="mb-no-padding"><!--[if (gte mso 9)|(IE)]>
                                <table id="ol-footer-table" align="center"><tr><td>
                                    <center>
                                        <pre><a href="https://www.facebook.com/DerivEU/" target="_blank"><img src="https://static.deriv.com/email/images/icons/facebook-gray.png" height="20" width="20" alt="Deriv.com on Facebook" title="Deriv.com on Facebook"/></a>    <a href="https://instagram.com/deriv_eu/" target="_blank"><img src="https://static.deriv.com/email/images/icons/instagram-gray.png" height="20" width="20" alt="Deriv.com on Instagram" title="Deriv.com on Instagram"/></a>    <a href="https://twitter.com/deriv_eu/" target="_blank"><img src="https://static.deriv.com/email/images/icons/x-gray.png" height="20" width="20" alt="Deriv.com on Twitter" title="Deriv.com on Twitter"/></a></a></pre>
                                    </center>
                            <![endif]--><!--[if !gte mso 9]><!-- -->
                    <table class="dark-black" id="footer-table"><!-- Insert Trustpilot widget here --><!-- SOCIAL -->
                        <tbody>
                            <tr>
                                <td align="center" class="dark-black" id="footer-social-td">
                                <pre><a href="https://www.facebook.com/DerivEU/" target="_blank"><img alt="Deriv.com on Facebook" src="https://static.deriv.com/email/images/icons/facebook-gray.png" style="height: 20px;" title="Deriv.com on Facebook" /></a>    <a href="https://instagram.com/deriv_eu/" target="_blank"><img alt="Deriv.com on Instagram" src="https://static.deriv.com/email/images/icons/instagram-gray.png" style="height: 20px;" title="Deriv.com on Instagram" /></a>    <a href="https://twitter.com/deriv_eu/" target="_blank"><img alt="Deriv.com on Twitter" src="https://static.deriv.com/email/images/icons/x-gray.png" style="height: 20px;" title="Deriv.com on Twitter" /></a></pre>
                                </td>
                            </tr>
                            <!--[endif]-->
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 10px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">This email is a marketing email intended for Retail and Professional Clients and has been issued by Deriv Investments (Europe) Limited with the registered address: W Business Centre, Level 3, Triq Dun Karm, Birkirkara, BKR 9033, Malta.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">Deriv Investments (Europe) Limited is licensed in Malta and regulated by the Malta Financial Services Authority under the Investment Services Act, to provide investment services in the European Union.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">Deriv Investments (Europe) Limited is authorised to deal on its own account and is both the manufacturer and distributor of its products.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">The products offered by Deriv Investments (Europe) Limited, including CFDs are classed as 'complex products' and may not be suitable for retail clients. CFDs are complex instruments and come with a high risk of losing money rapidly due to leverage. 73% of retail investor accounts lose money when trading CFDs with this provider. You should consider whether you understand how CFDs work and whether you can afford to take the high risk of losing your money.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">The products may be affected by changes in currency exchange rates; If you invest in this product, you may lose some or all of the money you invest; The value of your investment may go down as well as up.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                    <p class="dark-subtext">Deriv Investments (Europe) Limited does not offer investment advice.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 30px;" class="dark-black">
                                    <p class="dark-subtext">We will never share our email lists and other data with a third party. To learn more about how we protect your personal and financial information, please read our security and privacy policy.</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" class="dark-black" id="footer-links-td">
                                <p><a href="https://eu.deriv.com/help-centre">Help Centre</a>   <span class="dark-gray">|</span>   <a href="https://eu.deriv.com/terms-and-conditions/">Terms and conditions</a>   <span class="dark-black">|</span>   <a href="https://deriv.com/tnc/security-and-privacy.pdf">Security and privacy</a></p>

                                <p class="dark-black dark-subtext" id="unsubscribe-p">No longer want to receive these emails? <a href="https://app.deriv.com/account/personal-details">Unsubscribe</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" class="dark-black" id="f-logo"><a href="https://eu.deriv.com"><!--[if (gte mso 9)|(IE)]>
                                                <img src="https://static.deriv.com/logos/deriv-gray-2023.png" alt="Deriv.com" height="20" title="Deriv.com">
                                            <![endif]--> <!--[if !gte mso 9]><!-- --> <img alt="Deriv.com" src="https://static.deriv.com/logos/deriv-gray-2023.png" style="height: 20px;" title="Deriv.com" /> <!--[endif]--> </a></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]> 
                                </td></tr></table>
                            <![endif]--></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>