                            <tr>
                                <td class="paragraph-td" align="center" style="padding: 20px 30px 20px 30px;" class="dark-black">
                                    <p class="dark-subtext" style="font-family: 'Ubuntu', Arial, sans-serif;  font-size: 16px; font-weight: 400">Em caso de dúvidas, contacte-nos via:<br/>
                                        <a href="https://eu.deriv.com/?is_livechat_open=true" target="_blank">Live chat</a> | <a href="https://api.whatsapp.com/send/?phone=35699578341&text&type=phone_number&app_absent=0" target="_blank">WhatsApp</a></p>
                                </td>
                            </tr>
                        </table>
                        <!--[if (gte mso 9)|(IE)]></td></tr></table>
                        <![endif]-->
                    </td>
                </tr>
                <!-- End Email body--><!-- FOOTER -->
                <tr>
                    <td align="center" class="mb-no-padding"><!--[if (gte mso 9)|(IE)]>
                                <table id="ol-footer-table" align="center"><tr><td>
                                    <center>
                                        <pre><a href="https://www.facebook.com/DerivEU/" target="_blank"><img src="https://static.deriv.com/email/images/icons/facebook-gray.png" height="20" width="20" alt="Deriv.com on Facebook" title="Deriv.com on Facebook"/></a>    <a href="https://instagram.com/deriv_eu/" target="_blank"><img src="https://static.deriv.com/email/images/icons/instagram-gray.png" height="20" width="20" alt="Deriv.com on Instagram" title="Deriv.com on Instagram"/></a>    <a href="https://twitter.com/deriv_eu/" target="_blank"><img src="https://static.deriv.com/email/images/icons/x-gray.png" height="20" width="20" alt="Deriv.com on Twitter" title="Deriv.com on Twitter"/></a></a></pre>
                                    </center>
                            <![endif]--><!--[if !gte mso 9]><!-- -->
                        <table class="dark-black" id="footer-table"><!-- Insert Trustpilot widget here --><!-- SOCIAL -->
                            <tbody>
                                <tr>
                                    <td align="center" class="dark-black" id="footer-social-td">
                                    <pre><a href="https://www.facebook.com/DerivEU/" target="_blank"><img alt="Deriv.com on Facebook" src="https://static.deriv.com/email/images/icons/facebook-gray.png" style="height: 20px;" title="Deriv.com on Facebook" /></a>    <a href="https://instagram.com/deriv_eu/" target="_blank"><img alt="Deriv.com on Instagram" src="https://static.deriv.com/email/images/icons/instagram-gray.png" style="height: 20px;" title="Deriv.com on Instagram" /></a>    <a href="https://twitter.com/deriv_eu/" target="_blank"><img alt="Deriv.com on Twitter" src="https://static.deriv.com/email/images/icons/x-gray.png" style="height: 20px;" title="Deriv.com on Twitter" /></a></pre>
                                    </td>
                                </tr>
                                <!--[endif]-->
                                <tr>
                                    <td class="paragraph-td-discl" align="left" style="padding: 10px 30px 20px;" class="dark-black">
                                        <p class="dark-subtext">Este e-mail é um e-mail de marketing destinado a clientes Não Profissionais e Profissionais e foi emitido pela Deriv Investments (Europe) Limited com morada registada: W Business Centre, Level 3, Triq Dun Karm, Birkirkara, BKR 9033, Malta.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                        <p class="dark-subtext">A Deriv Investments (Europe) Limited é licenciada em Malta e regulamentada pela Malta Financial Services Authority ao abrigo da Lei dos Serviços de Investimento, para a prestação de serviços de investimento na União Europeia</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                        <p class="dark-subtext">A Deriv Investments (Europe) Limited está autorizada a negociar por conta própria e é simultaneamente produtora e distribuidora de seus produtos.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                        <p class="dark-subtext">Os produtos oferecidos pela Deriv Investments (Europe) Limited, incluindo CFDs são classificados como “produtos complexos” e podem não ser adequados para clientes não profissionais. Os CFDs são instrumentos complexos e apresentam um alto risco de perder dinheiro rapidamente devido à alavancagem. 73% das contas de investidores não profissionais perdem dinheiro ao negociar CFDs com este fornecedor. Deve considerar se entende como os CFDs funcionam e se pode correr o alto risco de perder o seu dinheiro.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                        <p class="dark-subtext">Os produtos podem ser afetados por alterações nas taxas de câmbio; se investir neste produto, poderá perder parte ou a totalidade do dinheiro investido; O valor do seu investimento pode cair ou subir.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 20px;" class="dark-black">
                                        <p class="dark-subtext">A Deriv Investments (Europe) Limited não oferece consultoria de investimento.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="paragraph-td-discl" align="left" style="padding: 0px 30px 30px;" class="dark-black">
                                        <p class="dark-subtext">Nunca partilhamos as nossas listas de e-mail e outros dados com terceiros. Para saber mais sobre como protegemos as suas informações pessoais e financeiras, leia a nossa política de segurança e privacidade.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="dark-black" id="footer-links-td">
                                    <p><a href="https://eu.deriv.com/pt/help-centre">Central de Ajuda</a>   <span class="dark-gray">|</span>   <a href="https://eu.deriv.com/pt/terms-and-conditions/">Termos e Condições</a>   <span class="dark-black">|</span>   <a href="https://deriv.com/tnc/security-and-privacy.pdf">Segurança e Privacidade</a></p>
                                    <p id="unsubscribe-p" class="dark-black dark-subtext">Não deseja mais receber estes e-mails? <a href="https://app.deriv.com/account/personal-details">Cancelar subscrição</a></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="dark-black" id="f-logo"><a href="https://eu.deriv.com/pt"><!--[if (gte mso 9)|(IE)]>
                                                    <img src="https://static.deriv.com/logos/deriv-gray-2023.png" alt="Deriv.com" height="20" title="Deriv.com">
                                                <![endif]--> <!--[if !gte mso 9]><!-- --> <img alt="Deriv.com" src="https://static.deriv.com/logos/deriv-gray-2023.png" style="height: 20px;" title="Deriv.com" /> <!--[endif]--> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--[if (gte mso 9)|(IE)]> 
                        </td></tr></table>
                        <![endif]-->
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
