<br><table border="0" cellpadding="0" cellspacing="0" style="border: none; border-collapse: collapse; empty-cells: show; max-width: 100%;" width="100%">
    <tbody>
        <tr>
            <td align="center" bgcolor="#eeeeee" style="padding: 10px 0px 0px; min-width: 5px; user-select: text; border: unset;">
                <table border="0" cellpadding="0" cellspacing="0" style="background-color: rgb(255, 255, 255); max-width: 600px; border: none; border-collapse: collapse; empty-cells: show;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding: 30px 30px 15px; min-width: 5px; user-select: text; border: unset;">
                                <a href="https://www.deriv.com" style="user-select: auto;">
                                    <img src="https://static.deriv.com/logos/deriv-red-2023.png" width="90" alt="Deriv.com" style="cursor: pointer; padding: 0px 1px; position: relative; max-width: 100%;">
                                </a>
                            </td>
                        </tr>
                        <tr class="mobile-hide"><td align="center" bgcolor="#fff" style="min-width: 5px; user-select: text; border: unset;">
                            <input value="" type="image" src="https://static.deriv.com/email/images/header/red-hand.png?raw=true" width="90%" style="display: block; outline: none; border-radius: 10px;">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 20px; background-color: rgb(255, 255, 255); min-width: 5px; user-select: text; border: unset;">
                            <h2 dir="ltr" style="font-family: 'Ubuntu', Arial, sans-serif;" id="isPasted">We're raising the minimum threshold for our crypto commission payouts</h2>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 10px 30px; background-color: rgb(255, 255, 255); min-width: 5px; user-select: text; border: unset;">
                            <p dir="ltr" id="isPasted" style="font-family: 'Ubuntu', Arial, sans-serif;font-size: 15px;">Hi {{&nbsp;lead.display_name&nbsp;}},</p>
                            <p dir="ltr" id="isPasted" style="font-family: 'Ubuntu', Arial, sans-serif;font-size: 15px;">We've increased the minimum threshold for our cryptocurrency payments from&nbsp;<strong style="font-weight: 700;">200 USD to 500 USD.</strong> This change will affect your next commission payout onwards.</p>
                            <p dir="ltr" id="isPasted" style="font-family: 'Ubuntu', Arial, sans-serif;font-size: 15px;">This means that if you have any commission below the new threshold, you won't be able to receive it until your total commission reaches 500 USD.&nbsp;</p>
                            <p dir="ltr" style="font-family: 'Ubuntu', Arial, sans-serif;font-size: 15px;">If your total commission is below the minimum threshold in the next cycle, you'll need to change your payment method to your Deriv account or Neteller account to receive it within the same cycle.</p>
                            <div align="left" dir="ltr"><table style="border: none; border-collapse: collapse; empty-cells: show; max-width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="min-width: 5px; user-select: text; border: unset;">
                                            <p dir="ltr"><br></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 0px 30px 40px; min-width: 5px; user-select: text; border: unset;">
                        <a href="https://login.deriv.com/payment-method.php" rel="noopener noreferrer" style='background: rgb(255, 68, 79); padding: 10px 16px; border: 0px; border-radius: 18px; font-family: "IBM Plex Sans", Arial, sans-serif; font-size: 15px; font-weight: bold; text-decoration: none; text-align: center; line-height: 20px; display: inline-block; overflow: visible; color: rgb(255, 255, 255) !important; user-select: auto;'>Change Payment Method</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; border: none; border-collapse: collapse; empty-cells: show;" width="100%">
            <tbody>
                <tr>
                    <td align="center" style="padding: 0px 30px 40px; min-width: 5px; user-select: text; border: unset;" valign="top">
                        <table border="0" cellpadding="0" cellspacing="30" style="max-width: 600px; border: none; border-collapse: collapse; empty-cells: show;" width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" bgcolor="#eeeeee" style='padding: 0px 0px 15px; color: rgb(100, 100, 100); font-family: "IBM Plex Sans", Arial, sans-serif; font-size: 115px; font-weight: 500; line-height: 16px; text-size-adjust: 100%; min-width: 5px; user-select: text; border: unset;'>
                                        <p style="font-family: 'IBM Plex Sans', Arial, sans-serif; color: #646464; font-size: 15px; font-weight: 500; line-height: 16px; margin: 0px 0px 5px;"><br></p>
                                        <p style="font-family: 'IBM Plex Sans', Arial, sans-serif; color: #646464; font-size: 12px; font-weight: 500; line-height: 16px; margin: 5px 0px 0px;">
                                            <a href="https://www.deriv.com/help-centre" style="color: rgb(255, 68, 79) !important; user-select: auto;">Help centre</a>&nbsp; &nbsp;| &nbsp; <a href="https://www.deriv.com/terms-and-conditions/" style="color: rgb(255, 68, 79) !important; user-select: auto;">Terms and conditions</a>&nbsp; &nbsp;| &nbsp; <a href="https://www.deriv.com/terms-and-conditions/" style="color: rgb(255, 68, 79) !important; user-select: auto;">Security and privacy</a></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="margin: 0;"><br></p></td></tr></tbody></table>