<br><table border="0" cellpadding="0" cellspacing="0" style="border: none; border-collapse: collapse; empty-cells: show; max-width: 100%;" width="100%">
    <tbody>
        <tr>
            <td align="center" bgcolor="#eeeeee" style="padding: 20px 0px 0px; min-width: 5px; user-select: text; border: unset;">
                <table border="0" cellpadding="0" cellspacing="0" style="background-color: rgb(255, 255, 255); max-width: 600px; border: none; border-collapse: collapse; empty-cells: show;" width="100%">
                    <tbody>
                    <tr>
                        <td align="center" style="padding: 30px 30px 15px; min-width: 5px; user-select: text; background: rgb(255, 68, 79);">
                            <a href="https://www.deriv.com" style="user-select: auto;">
                                <img src="https://static.deriv.com/logos/deriv-white-2023.png" width="90" alt="Deriv.com" style="cursor: pointer; padding: 0px 1px; position: relative; max-width: 100%;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td id="slash-td">
                            <img src="https://static.deriv.com/email/images/general/red-slash.png" alt="deriv.com">
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding: 10px 30px; background-color: rgb(255, 255, 255); min-width: 5px; user-select: text; border: unset;">
                            <p dir="ltr" id="isPasted" style="padding-top: 15px;font-family: 'Ubuntu', Arial, sans-serif;font-size: 15px;">Hi {{&nbsp;lead.display_name&nbsp;}},</p>
                            <p dir="ltr" id="isPasted" style="padding-top: 10px;font-family: 'Ubuntu', Arial, sans-serif;font-size: 15px;">We regret to inform you that we’re terminating all business relationships with you.</p>
                            <p dir="ltr" id="isPasted" style="padding-top: 10px;font-family: 'Ubuntu', Arial, sans-serif;font-size: 15px;">After carefully reviewing your accounts, we’ve found that some of your activities violate our terms and conditions (see Section 10 - ‘Termination’ in the <a href="https://deriv.com/tnc/business-partners-general-terms.pdf">General terms for our business partners</a>).</p>
                            <p dir="ltr" style="padding-top: 10px;font-family: 'Ubuntu', Arial, sans-serif;font-size: 15px;">Please treat this email as written notice for immediate termination.</p>
                            <p dir="ltr" style="padding-top: 10px;font-family: 'Ubuntu', Arial, sans-serif;font-size: 15px;">If you have any questions, please reach out to us via our <a href="https://deriv.com/?is_livechat_open=true">live chat&nbsp;</a>or reach out to your country manager.</p>
                            <p dir="ltr" style="padding-top: 25px;font-family: 'Ubuntu', Arial, sans-serif;font-size: 15px;">Kind regards,</p>
                            <p dir="ltr" style="font-family: 'Ubuntu', Arial, sans-serif;font-size: 15px;">Deriv/Binary.com </p>
                            <br>
                            <br>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; border: none; border-collapse: collapse; empty-cells: show;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding: 0px 30px 40px; min-width: 5px; user-select: text; border: unset;" valign="top">
                                <table border="0" cellpadding="0" cellspacing="30" style="max-width: 600px; border: none; border-collapse: collapse; empty-cells: show;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" bgcolor="#eeeeee" style='padding: 0px 0px 15px; color: rgb(100, 100, 100); font-family: "IBM Plex Sans", Arial, sans-serif; font-size: 115px; font-weight: 500; line-height: 16px; text-size-adjust: 100%; min-width: 5px; user-select: text; border: unset;'>
                                                <p style="font-family: 'IBM Plex Sans', Arial, sans-serif; color: #646464; font-size: 15px; font-weight: 500; line-height: 16px; margin: 0px 0px 5px;"><br></p>
                                                <p style="font-family: 'IBM Plex Sans', Arial, sans-serif; color: #646464; font-size: 12px; font-weight: 500; line-height: 16px; margin: 5px 0px 0px;">
                                                    <a href="https://www.deriv.com/help-centre" style="color: rgb(255, 68, 79) !important; user-select: auto;">Help centre</a>&nbsp; &nbsp;| &nbsp; <a href="https://www.deriv.com/terms-and-conditions/" style="color: rgb(255, 68, 79) !important; user-select: auto;">Terms and conditions</a>&nbsp; &nbsp;| &nbsp; <a href="https://www.deriv.com/terms-and-conditions/" style="color: rgb(255, 68, 79) !important; user-select: auto;">Security and privacy</a></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                    </tbody>
                </table>
            <p style="margin: 0;"><br></p></td></tr></tbody></table>