            <!-- FOOTER -->
            <tr>
                <td align="center" class="mb-no-padding">
                    <!--[if (gte mso 9)|(IE)]>
                        <table id="ol-footer-table" align="center"><tr><td>
                            <center>
                                <a href="https://www.facebook.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/facebook-gray.png" height="20" width="20" alt="Логотип Facebook" title="Deriv.com в Facebook"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.instagram.com/deriv_official/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/instagram-gray.png" height="20" width="20" alt="Логотип Instagram" title="Deriv.com в Instagram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://twitter.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/x-gray.png" height="20" width="20" alt="Логотип X" title="Deriv.com в X"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.youtube.com/c/Derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/youtube-gray.png" height="20" width="20" alt="Логотип Youtube" title="Deriv.com в Youtube"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/company/derivdotcom/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/linkedin-gray.png" height="20" width="20" alt="Логотип LinkedIn" title="Deriv.com в LinkedIn"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://t.me/derivdotcomofficial" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/telegram-gray.png" height="20" width="20" alt="Логотип Telegram" title="Deriv.com в Telegram"/>
                                </a>
                            </center>
                        </td></tr>
                    <![endif]-->
                    <!--[if !gte mso 9]><!-- -->
                    <table id="footer-table" class="dark-black">
                        <!-- Insert Trustpilot widget here -->
                        <!-- SOCIAL -->
                        <tr>
                            <td id="footer-social-td" align="center" class="dark-black">
                                <a href="https://www.facebook.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/facebook-gray.png" style="height: 20px;" alt="Логотип Facebook" title="Deriv.com в Facebook"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.instagram.com/deriv_official/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/instagram-gray.png" style="height: 20px;" alt="Логотип Instagram" title="Deriv.com в Instagram"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://twitter.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/x-gray.png" style="height: 20px;" alt="Логотип X" title="Deriv.com в X"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.youtube.com/c/Derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/youtube-gray.png" style="height: 20px;" alt="Логотип Youtube" title="Deriv.com в Youtube"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/company/derivdotcom/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/linkedin-gray.png" style="height: 20px;" alt="Логотип LinkedIn" title="Deriv.com в LinkedIn"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://t.me/derivdotcomofficial" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/telegram-gray.png" style="height: 20px;" alt="Логотип Telegram" title="Deriv.com в Telegram"/>
                                </a>
                            </td>
                        </tr>
                        <!--[endif]-->
                        <tr>
                            <td id="footer-links-td" align="center" class="dark-black">
                                <p><a href="https://www.deriv.com/help-centre">Поддержка</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://www.deriv.com/terms-and-conditions/">Условия и положения</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://deriv.com/tnc/security-and-privacy.pdf">Безопасность и конфиденциальность</a></p>
                                <p id="unsubscribe-p" class="dark-black dark-subtext">Больше не хотите получать эти письма? <a href="https://app.deriv.com/account/personal-details">Отписаться</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td id="f-logo" align="center" class="dark-black">
                                <a href="https://www.deriv.com">
                                    <!--[if (gte mso 9)|(IE)]>
                                        <img src="https://static.deriv.com/logos/deriv-gray-2023.png" alt="Логотип Deriv.com" height="20" title="Deriv.com">
                                    <![endif]-->
                                    <!--[if !gte mso 9]><!-- -->
                                        <img src="https://static.deriv.com/logos/deriv-gray-2023.png" style="height: 20px;" alt="Логотип Deriv.com" title="Deriv.com">
                                    <!--[endif]-->
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]> 
                        </td></tr></table>
                    <![endif]-->
                </td>
            </tr>
        </table>
    </body>
</html>