@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700&display=swap');
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'IBM Plex Sans', Arial, sans-serif; 
    font-size: 1.6rem;
    line-height: 2.4rem;
    background-color: #0e0e0e;
    color: #c2c2c2;
}
p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}
a, a:visited {
    color: #ff444f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.test-iframe-container {
    height: 70rem;
    max-width: 66.4rem;
    margin: 0 auto;
    border: 1px solid #cccccc;
}
.cr-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.cr-grid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 00;
    height: 100%;
}
#qrcode {
    margin: 0;
}
.account {
    display: inline-block;
    background-color: #242828;
    margin: 0.8rem 0 0;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: bold;
    color: #ffffff;
}
.deposit-note {
    margin-top: 4rem;
}
.deposit-note p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0;
}
.error-message {
    padding-top: 14.4rem;
    text-align: center;
    color: #d43e47;
}
.cr-cashier-form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-row-gap: 0.8rem;
}
.input-group {
    margin-top: 2.4rem;
}
.input-group .input {
    margin-bottom: 3.1rem;
}
.input {
    background: none;
    color: #c2c2c2;
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
    width: 70%;
    display: block;
    border: solid 1px #323738;
    border-radius: 4px;
    transition: all 0.25s;
}
.input::placeholder {
    opacity: 0.5;
    transition: opacity 0.25s;
    padding-left: 0.3rem;
}
.input:hover {
    border: solid 1px #6e6e6e;
}
.input:focus {
    outline: none;
    border: solid 1px #85acb0;
}
.input:focus::placeholder {
    opacity: 0;
}
.button {
    text-decoration: none;
    text-align: center;
    margin-top: 0.7rem;
    padding: 0.8rem 1.6rem;
    display: inline-block;
    font-weight: bold;
    font-family: 'IBM Plex Sans', Arial, sans-serif; 
    font-size: 1.4rem;
    line-height: 2rem;
    border-radius: 4px;
    overflow: visible;
    border: 0;
    color: #ffffff;
    background: #ff444f;
    cursor: pointer;
}
.button:hover {
    background-color: #d43e47;
}
.transactions {
    margin: 8rem 0 0;
    overflow-x: auto;
}
table  {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
}
td, th {
    vertical-align: middle;
    padding: 0.8rem;
    margin: 0;
    text-align: left;
    border-bottom: 2px solid #242828;
}
th {
    font-weight: bold;
}
.align-top {
    align-items: start;
}
.align-center {
    align-items: center;
}
.align-bottom {
    align-items: center;
}
.justify-center {
    justify-items: center;
}
.center-text {
    text-align: center;
}
.no-margins {
    margin: 0;
}
.bottom-40 {
    margin: 0 0 4rem;
}
.fixed-button {
    position: absolute;
    bottom: 2.4rem;
    right: 2.4rem;
}
.font-s {
    font-size: 1.4rem;
    line-height: 2rem;
}
.red-color {
    color: #d43e47;
}

.border {
    border: 1px solid #cccccc;
}
.align-self-top {
    align-self: start;
}
.align-self-end {
    align-self: end;
}
.justify-self-right {
    justify-self: end;
}