@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'IBM Plex Sans', Arial, sans-serif; 
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #0e0e0e;
}
p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.main {
    height: 100%;
    padding: 2.4rem;
    max-width: 70rem;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 0.4rem;
}
.grid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 0.8rem;
}
#qrcode {
    margin: 0;
}
.account {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: bold;
}
.deposit-note {
    font-size: 1.4rem;
    max-width: 40rem;
    margin-top: 3.7rem;
}
.transactions {
    margin-top: 6rem;
    overflow-x: auto;
}
.form {
    display: inline-flex;
    justify-content: center;
    align-self: end;
    width: 100%;
    margin: 0;
}
.input {
    background: none;
    color: black;
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
    margin: 1.5rem 0;
    width: 100%;
    display: block;
    border: solid 1px #d6dadb;
    border-radius: 4px;
}
.input::placeholder {
    opacity: 0.5;
    transition: opacity 0.25s;
    padding-left: 0.3rem;
}
.input:focus {
    outline: none;
}
.input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.25s;
}
fieldset {
    border-radius: 0.4rem;
    border: 0.1rem solid #d6dadb;
    padding: 0;
    display: inline-block;
    width: 100%;
    margin: 0 1.6rem 0 0;
}
fieldset legend {
    margin-left: 0.8rem;
    padding: 0 0.5rem;
    font-size: 1rem;
    line-height: 1.4rem;
}
fieldset .input {
    margin: -0.6rem 0 0;
    width: 100%;
    border: 0;
}
.button {
    text-decoration: none;
    text-align: center;
    margin-top: 0.7rem;
    padding: 0.8rem 1.6rem;
    display: inline-block;
    font-weight: bold;
    font-family: 'IBM Plex Sans', Arial, sans-serif; 
    font-size: 1.4rem;
    line-height: 2rem;
    border-radius: 4px;
    overflow: visible;
    border: 0;
    color: #ffffff;
    background: #ff444f;
    cursor: pointer;
}
.button:hover {
    background-color: #d43e47;
}
table  {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
    margin: 0;
}
td, th {
    vertical-align: middle;
    padding: 0.8rem;
    text-align: left;
    border-bottom: 2px solid #F2F2F2;
}
th {
    font-weight: bold;
}
.align-top {
    align-items: start;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-items: center;
}
.center-text {
    text-align: center;
}
.no-margins {
    margin: 0;
}
.w-30 {
    max-width: 30rem;
}

.border {
    border: 1px solid #cccccc;
}