/** float container */

.input-container {
	border: solid 1px #ccc;
	box-sizing: border-box;
	margin-bottom: 8px;
	padding: 0 8px;
	position: relative;
	width: 300px;
	/** active label */
}

.input-container input {
	border: none;
	font-size: 16px;
	outline: 0;
	padding: 16px 0 10px;
	width: 100%;
}

.input-container label {
	font-size: 16px;
	position: absolute;
	transform-origin: top left;
	transform: translate(0, 16px) scale(1);
	transition: all 0.1s ease-in-out;
}

.input-container.active label {
	transform: translate(0, 4px) scale(0.75);
}