
/* Crypto Form */
.crypto-form {
    margin-top: 2.4rem;
}  
.input-field {
    margin-bottom: 3.1rem;
    padding: 0;
    position: relative;
}
label, input {
    transition: all 0.2s;
    touch-action: manipulation;
}
input[type="number"] {
    display: block;
    font-size: 1.4rem;
    border: 0;
    border: solid 1px var(--color-grey-2);
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0.4rem;
    padding: 1rem 1.2rem;
    cursor: text;
    width: 40rem;
    max-width: 95%;
    color: var(--color-black);
}
input:hover {
    border-color: var(--color-grey-5);
}
input:focus {
    outline: 0;
    border: 1px solid var(--color-green);;
}
label {
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    font-size: 1.4rem;
    color: var(--color-grey-5);
    padding: 0 0.4rem;
    pointer-events: none;
    transition: 0.25s ease transform;
    transform-origin: left bottom;
}
input[type="number"]::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    padding-left: 0.3rem;
    color: var(--color-grey-5);
}
input[type="number"]::-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    padding-left: 0.3rem;
    color: var(--color-grey-5);
}
input[type="number"]:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    padding-left: 0.3rem;
    color: var(--color-grey-5);
}
input[type="number"]::placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    padding-left: 0;
    color: var(--color-grey-5);
}
input[type="number"]:focus::-webkit-input-placeholder {
    opacity: 1;
}
input[type="number"]:focus::-moz-placeholder {
    opacity: 1;
}
input[type="number"]t:focus:-ms-input-placeholder {
    opacity: 1;
}
input[type="number"]:focus::placeholder {
    opacity: 1;
}
input[type="number"]::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}
input[type="number"]:focus::-webkit-input-placeholder {
    opacity: 1;
}

input[type="number"]:placeholder-shown  ~ label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translate(0, 0) scale(1);
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
}
input[type="number"]:focus ~ label {
    transform: translate(0, -2.5rem) scale(0.7);
    -webkit-transform: translate(0, -2.5rem) scale(0.7);
    -ms-transform: translate(0, -2.5rem) scale(0.7);
    cursor: pointer;
    background-color: var(--color-white);
    color: var(--color-green);
}

input[type="number"]:not(:focus):not(:invalid) ~ label {
    transform: translate(0, -2.5rem) scale(0.7);
    -webkit-transform: translate(0, -2.5rem) scale(0.7);
    -ms-transform: translate(0, -2.5rem) scale(0.7);
    cursor: pointer;
    background-color: var(--color-white);
}