            <!-- FOOTER -->
            <tr>
                <td align="center" class="mb-no-padding">
                    <!--[if (gte mso 9)|(IE)]>
                        <table id="ol-footer-table" align="center"><tr><td>
                            <center>
                                <a href="https://twitter.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/twitter-gray.png" height="20" width="20" alt="Twitter Logo" title="Deriv.com na Twitteru"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.facebook.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/facebook-gray.png" height="20" width="20" alt="Facebook Logo" title="Deriv.com na Facebooku"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.instagram.com/deriv_official/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/instagram-gray.png" height="20" width="20" alt="Instagram Logo" title="Deriv.com na Instagramu"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://t.me/derivdotcomofficial" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/telegram-gray.png" height="20" width="20" alt="Telegram Logo" title="Deriv.com na Telegramu"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/company/derivdotcom/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/linkedin-gray.png" height="20" width="20" alt="LinkedIn Logo" title="Deriv.com na LinkedIn"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.youtube.com/c/Derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/youtube-gray.png" height="20" width="20" alt="Youtube Logo" title="Deriv.com na Youtube"/>
                                </a>
                            </center>
                    <![endif]-->
                    <!--[if !gte mso 9]><!-- -->
                    <table id="footer-table" class="dark-black">
                        <!-- Insert Trustpilot widget here -->
                        <!-- SOCIAL -->
                        <tr>
                            <td id="footer-social-td" align="center" class="dark-black">
                                <a href="https://twitter.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/twitter-gray.png" style="height: 20px;" alt="Twitter Logo" title="Deriv.com na Twitteru"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.facebook.com/derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/facebook-gray.png" style="height: 20px;" alt="Facebook Logo" title="Deriv.com na Facebooku"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.instagram.com/deriv_official/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/instagram-gray.png" style="height: 20px;" alt="Instagram Logo" title="Deriv.com na Instagramu"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://t.me/derivdotcomofficial" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/telegram-gray.png" style="height: 20px;" alt="Telegram Logo" title="Deriv.com na Telegramu"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.linkedin.com/company/derivdotcom/" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/linkedin-gray.png" style="height: 20px;" alt="LinkedIn Logo" title="Deriv.com na LinkedIn"/>
                                </a>&nbsp;&nbsp;
                                <a href="https://www.youtube.com/c/Derivdotcom" target="_blank">
                                    <img src="https://static.deriv.com/email/images/icons/youtube-gray.png" style="height: 20px;" alt="Youtube Logo" title="Deriv.com na Youtube"/>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td id="footer-links-td" align="center" class="dark-black">
                                <p><a href="https://www.deriv.com/help-centre">Centrum nápovědy</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://www.deriv.com/terms-and-conditions/">Obchodní podmínky</a>&nbsp;&nbsp;&nbsp;<span class="dark-gray">|</span>&nbsp;&nbsp;&nbsp;<a href="https://deriv.com/tnc/security-and-privacy.pdf">Bezpečnost a ochrana osobních údajů</a></p>
                                <p id="unsubscribe-p" class="dark-gray dark-subtext">Nechcete již dostávat tyto e-maily? <a href="https://app.deriv.com/account/personal-details">Odhlásit se z odběru</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td id="f-logo" align="center" class="dark-black">
                                <a href="https://www.deriv.com">
                                    <!--[if (gte mso 9)|(IE)]>
                                        <img src="https://static.deriv.com/logos/deriv-gray-2023.png" alt="Logo společnosti Deriv" height="20" title="Deriv.com">
                                    <![endif]-->
                                    <!--[if !gte mso 9]><!-- -->
                                        <img src="https://static.deriv.com/logos/deriv-gray-2023.png" style="height: 20px;" alt="Logo společnosti Deriv" title="Deriv.com">
                                    <!--[endif]-->
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]> 
                        </td></tr></table>
                    <![endif]-->
                </td>
            </tr>
        </table>
    </body>
</html>